@import '../../assets/sass/abstracts/variables';

.login {
  background: $white;
  border-radius: 6px;
  max-width: 400px;
  padding: 24px 12px;
  &--title {
    font-weight: 800;
    text-transform: uppercase;
  }
  &--form {
    &__input {
      background: #80808029;
      border: none;
      height: 32px;
      padding-left: 32px;
      padding-right: 4px;
    }
  }
  &--icon {
    position: absolute;
    left: 25px;
    top: 7px;
    svg {
      transform: scale(1.4);
    }
  }
}

.open-modal {
  color: $red;
  cursor: pointer;
}